.experiencias{
    width: 93%;
    border: solid 2px var(--primary-color);
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
    z-index: 2;
}

.experiencia-infos{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
}

.experiencia-infos img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding: 30px 30px 30px 42px;
}

.experiencia-text-infos{
    padding: 30px 0;
    font-family: var(--text-font);
}

.swiper-button-prev::after, .swiper-button-next::after{
    color: white;
}

.experiencia-description {
    max-width: 91%;
    margin: auto;
    padding: 18px;
    border-radius: 10px;
    font-family: var(--text-font);
    font-size: 17px;
    background-color: var(--primary-color);
}

.experiencia-description > p{
    padding-bottom: 8px;
}

.experiencia-description .description-list{
    padding: 0 0 8px 25px;
}